[type=text],
[type=date],
[type=password] {
  border: 1px solid transparentize($primary, .75);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: #{.5 - 2 * $one-px}rem;
  padding: 0 .5rem;
  width: 100%;

  &:focus {
    border-color: $primary;
    outline: none;
  }

  &.error {
    border-color: $alert;
    color: $alert;

    + small.error {
      background: $alert;
      color: #fff;
      display: block;
      font-size: .75rem;
      line-height: 1rem;
      margin-bottom: #{.5 - 2 * $one-px}rem;
      margin-top: -#{.5 - 2 * $one-px}rem;
      padding: .5rem;
    }
  }
}
