.game-tile {
  background: #efe9dd;
  // border: 1px solid;
  // border-color: rgba(255, 255, 255, .4) rgba(212, 212, 212, .7) rgba(0, 0, 0, .4);
  border: .5em solid gray;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  cursor: default;
  font-size: .75em;
  font-weight: bold;
  line-height: 1.666em;
  text-align: center;
  transition: .2s transform, .2s box-shadow;

  &.redacted {
    border-color: transparent;
  }

  &.revealed {
    background: gray;
  }

  &.a {
    border-color: green;

    &.revealed {
      background: green;
      color: #fff;
    };
  }

  &.b {
    border-color: blue;

    &.revealed {
      background: blue;
      color: #fff;
    }
  }

  &.x {
    border-color: red;

    &.revealed {
      background: red;
      color: #fff;
    }
  }

  @media screen and (min-width: 30em) {
    font-size: 1em;
    line-height: calc((85vh - 10px - 4em) / 5 - 1em);

    &:hover,
    &:focus {
      box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
      transform: scale(1.1);
    }
  }

  @media screen and (min-width: 60em) {
    font-size: 1.25em;
  }
}

button.game-tile {
  cursor: pointer;

  &,
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    transform: rotateX(45deg);

    @media screen and (min-width: 30em) {
      transform: scale(1.1) rotateX(25deg);
    }
  }
}
