.page-header {
  border-bottom: 1px solid #438;
  margin-bottom: .5rem;
  padding: 0;
  width: 100%; }
  .page-header h2 {
    float: left;
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0 0 0 .5rem; }
  .page-header a.active {
    color: #952;
    font-weight: bold; }
  .page-header nav {
    text-align: right; }
    .page-header nav a {
      display: inline-block;
      font-size: .75rem;
      line-height: 3rem;
      padding: 0 .25rem; }
      .page-header nav a:last-child {
        padding-right: .5rem; }
      @media screen and (min-width: 30em) {
        .page-header nav a {
          font-size: 1rem;
          padding: 0 .5rem; } }
